html, body{
	box-sizing:border-box;
}
.page{
	height:100%;
}
.startpage--site-wrapper{
	width:100%;
	height:100%;
	background-color: $black;
	border: em(10px) solid $white;
	position: relative;
}
.logo{

	width:em(178px);
	height:em(35px);
	position: absolute;
	top:50%;
	left:50%;
	margin-left: em(-89px);
	margin-top: em(-17.5px);
	background:url('assets/gfx/logo_big.png') center center no-repeat;
}
.startpage--button--wrapper{
	position: absolute;
	width:em(50px);
	height:em(50px);
	bottom:0;
	right:0;
	background-color: $white;
}

/*.button--black--down--wrapper{

	position: relative;
	width:100%;
	height:100%;

}*/

.button--black--down{

	width:em(21px);
	height:em(13px);
	position: relative;
	top: 20px;
	left: 20px;

	&:before,
	&:after{

		content:"";
		position: absolute;
		background-color: $black;
	}
	&:before{
		width: em(2px);
		height: em(15px);
	}
	&:after{
		width: em(2px);
		height: em(15px);
	}

}



#cross {
   width: 100px;
   height: 100px;
   position: relative;
}

#cross:before, #cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #d00;
}

#cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

#cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}