html, body{
	box-sizing:border-box;
}
.page{
	height:100%;
}
.slider__site-wrapper,
.bio__site-wrapper,
.startpage__site-wrapper{
	width:100%;
	height:100%;
	background-color: $black;
	border: em(10px) solid $white;
	position: relative;
}
.infoWrapper{
	width: em(300px);
	height: em(200px);
	position: absolute;
	top:50%;
	left:50%;
	//margin-top: em(-100px);
	//margin-left: em(-150px);
	margin-top: -3.25em;
	margin-left: -14.375em;
	padding-top:em(5px);
	cursor:pointer;

	overflow:hidden;

	z-index:999;

	&:before{
		content: "";
		position: absolute;
		width: em(53px);
		height: 1px;
		top:0;
		right:0;
		background-color:$white;
	}

	.logo{

		width:em(178px);
		height:em(35px);
		position: absolute;
		right:0;
		top:-100%;;
		background:url('assets/gfx/logo_without_line.png') center center no-repeat;
		-webkit-transition:top 0.8s ease-in-out;
   -moz-transition:top 0.8s ease-in-out;
     -o-transition:top 0.8s ease-in-out;
        transition:top 0.8s ease-in-out;
	}
	.contactData,
	.openTimes,
	.furtherInformation{
		width:em(300px);
		font-family: $base-font-family;
		color: $white;
		font-size: em(14px);
		text-transform:uppercase;
		text-align:right;
		position: absolute;
		top:-100%;
		right:0;

		-webkit-transition:top 0.8s ease-in-out;
   -moz-transition:top 0.8s ease-in-out;
     -o-transition:top 0.8s ease-in-out;
        transition:top 0.8s ease-in-out;

	}
	.contactData{

	}
	.openTimes{
		font-size: em(12px);

		.openTimes__heading{
			font-size: em(20px);
		}

	}


}

//-------------------------------------------------------------
// further information

/*
.furtherInformation{
	width:45%;
	text-align:right;
	right: em(50px);
	bottom:em(75px);
	font-family: $base-font-family;
	position: absolute;

	color: $white;
	font-size: em(9px);

} */

//-------------------------------------------------------------
// bottom buttons

.linksBottom{

	position: absolute;
	bottom:0;
	height:(30px);
	width:100%;

	font-family: $base-font-family;
	color: $white;
	font-size:em(12px);

	.bottom__contact,
	.bottom__openTimes,
	.bottom__discount{
		float:left;
		text-align:center;
		width:33.3%;
		box-sizing:border-box;
		cursor:pointer;
	}

	.bottom__contact{
		text-align:right;
		//padding-right: em(20px);
	}
	.bottom__openTimes{
		text-align:center;
		//padding-left: em(20px);
	}
	.bottom__discount{
		text-align:left;
		//padding-left: em(20px);
	}
}



//-------------------------------------------------------------

.startpage__button--wrapper{
	position: absolute;
	width:em(50px);
	height:em(50px);
	bottom:0;
	right:0;
	background-color: $white;

	cursor:pointer;
}

.button--black--down{

	width:em(21px);
	height:em(13px);
	position: relative;
	top: 20px;
	left: 20px;

	&:before,
	&:after{

		content:"";
		position: absolute;
		background-color: $black;
	}
	&:before{
		width: em(2px);
		height: em(15px);
	}
	&:after{
		width: em(2px);
		height: em(15px);
	}

}

//-------------------------------------------------------------

.is_visible{
	top:3% !important;
}

//-------------------------------------------------------------
// custom

a, .link{
	color:white;

	&:hover{
		text-decoration:underline;
	}
}


//-------------------------------------------------------------

#cross {
   width: 100px;
   height: 100px;
   position: relative;
}

#cross:before, #cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #d00;
}

#cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

#cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}


//-------------------------------------------------------------
//bgImagesSlider


// .bgImage {


// 	&.img__slide1{
// 		background:transparent url('assets/gfx/Img/slide_01_s.jpg') center center no-repeat;
// 		background-size:cover;
// 	}
// 	&.img__slide2{
// 		background:transparent url('assets/gfx/Img/slide_01_s.jpg') center center no-repeat;
// 		background-size:cover;
// 	}
// 	&.img__slide3{
// 		background:transparent url('assets/gfx/Img/slide_01_s.jpg') center center no-repeat;
// 		background-size:cover;
// 	}
// 	&.img__slide4{
// 		background:transparent url('assets/gfx/Img/slide_01_s.jpg') center center no-repeat;
// 		background-size:cover;
// 	}
// 	&.img__slide5{
// 		background:transparent url('assets/gfx/Img/slide_01_s.jpg') center center no-repeat;
// 		background-size:cover;
// 	}
// 	&.img__slide6{
// 		background:transparent url('assets/gfx/Img/slide_01_s.jpg') center center no-repeat;
// 		background-size:cover;
// 	}
// }






.button--black--down--wrapper{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -25%);
	.svg__arrow--down{
		.svg__arrow--down__line{
			stroke-width:2px;
		}
	}
}
.bio__site-wrapper,
.slider__site-wrapper{
	background-color: #f1f0eb;

	.logo{
		background:url('assets/gfx/logo_without_line_black.png') center center no-repeat;
	}
	.contactData{
		color:#000001;
		.link{
			color:#000001;
			a{
				color:#000001;
			}
		}
	}
	.openTimes{
		color:#000001;
	}
	.furtherInformation{
		color:#000001;
	}
	.linksBottom{
		color:#000001;
		.link{
			color:#000001;
		}
	}

	.infoWrapper{
			top:2em;
			left:auto;
			right:2em;
			//margin-top: -3.25em;
			//margin-left: -14.375em;
			//padding-top:em(5px);
			margin-top: 0;
			margin-left: 0;
			padding-top:0;
			&:before{
				background-color: #000001;
			}
	}
}

.module.image--wrapper{
	position: relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:60%;
}

//-------------------------------------------------------------
//bio site

.bio__site-wrapper{
	height:auto;

	.textbio{
		width:40%;
		position: relative;
		// top:20%;
		left:100px;
		font-family:$base-font-family;
		margin: 200px 0;
		.headline{
			font-size:40px;
			line-height:40px;
			padding:40px 0;
			text-transform:uppercase;


			&:before{
				content: "";
				position: absolute;
				width: em(53px);
				height: 1px;
				top:0;
				left:0;
				background-color:#000001;
			}
			.subheading{
				font-size:25px;
			}
		}
		.text{
			padding-right:20px;
		}
	}

	.imgbio{
		width:40%;
		position: absolute;
		top:230px;
		right:0;
		// top:20%;
		// right:100px;
		// margin: 200px 0;
		// float:right;
		.img-bio--inner{
			.image{
				position: absolute;
				&.img01{
					width:170px;
					height:230px;

					top: -30px;
					left: 86px;
				}
				&.img02{
					width:230px;
					height:160px;

					left: 280px;
					top: 40px;
				}
				&.img03{
					width:370px;
					height:260px;

					top: 220px;
				}
			}
		}
	}
}

//-------------------------------------------------------------
//mqs
@media only screen and (max-width: 1320px), only screen and (max-device-width: 1320px) {
	.bio__site-wrapper{
		.imgbio{
			top:350px;
			.img-bio--inner{
				.image{

					&.img01{
						left:0;
					}
					&.img02{
						left:193px;
					}
					&.img03{

					}
				}
			}
		}

	}
}
@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
	.bio__site-wrapper{
		.imgbio{
			top:400px;
			.img-bio--inner{
				.image{

					&.img01{
						left:-80px;
					}
					&.img02{
						left:113px;
					}
					&.img03{
						left:-80px;
					}
				}
			}
		}

	}
}

@media only screen and (max-width: 920px), only screen and (max-device-width: 920px) {
	.bio__site-wrapper{

		.textbio{
			width:90%;
			left:50%;
			transform:translate(-50%,0);

			.headline{
				// font-size:40px;
				// line-height:40px;
				// padding:40px 0;
				// text-transform:uppercase;


				&:before{
					display:none;
				}
				.subheading{
					font-size:25px;
				}
			}
		}
		.imgbio{
			display:none;
			.img-bio--inner{
				.image{

					&.img01{
						// left:-80px;
					}
					&.img02{
						// left:113px;
					}
					&.img03{
						// left:-80px;
					}
				}
			}
		}

	}
}


@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {




	.infoWrapper{
		left:0;
		margin-left: 0;
		//right:em(20px);
		//margin-right:3.25em;
		width:95%;
		// z-index:9999;
	}

	.linksBottom{
		.bottom__contact,
		.bottom__openTimes,
		.bottom__discount{
			text-align:center;
		}
	}

	.module.image--wrapper{
		position: relative;
		// top:50%;
		// left:50%;
		// transform:translate(-50%,-50%);
		// bottom:0;
		width:100%;
	}

	// .bio__site-wrapper{


	// 	.textbio{
	// 		width:90%;
	// 		left:0;

	// 		.headline{
	// 			// font-size:40px;
	// 			// line-height:40px;
	// 			// padding:40px 0;
	// 			// text-transform:uppercase;


	// 			&:before{
	// 				display:none;
	// 			}
	// 			.subheading{
	// 				font-size:25px;
	// 			}
	// 		}
	// 	}

	// }

}




@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

	.infoWrapper{
		left:0;
		margin-left: 0;
		//right:em(20px);
		//margin-right:3.25em;
		width:95%;
		// z-index:9999;
	}

	.linksBottom{
		.bottom__contact,
		.bottom__openTimes,
		.bottom__discount{
			text-align:center;
		}
	}

	.module.image--wrapper{
		// position: relative;
		// top:50%;
		// left:50%;
		// transform:translate(-50%,-50%);
		// bottom:0;
		// width:100%;
	}
	.startpage__button--wrapper{
		bottom:50px;
	}

}