/** need some help? **/

.border--bottom{
	border-bottom:1px solid $primary-highlight-color-light;
}
.border--left{
	border-left:1px solid $primary-highlight-color-light;
}
.border--right{
	border-right:1px solid $primary-highlight-color-light;
}
