/** utils **/

/*

1. clearfix
2. hidden
*/

/** clearfix
* use it as a class or as extend
**/
.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.hidden{
	display:none;
}