
/** set opacity **/

/*
*  usage: @include opacity(0.8);
*
*/
@mixin opacity($value){
  // $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$value*100+")";
  filter: alpha(opacity=$value*100);
}