/*------------------------------------*\
    $COLOR YOUR LIFE!
\*------------------------------------*/




/*------------------------------------*\
    $FONT COLORS
\*------------------------------------*/
$base-font-color: #000; //black
$base-background-color: #FFF; //white
$primary-highlight-color: #ccab91; //moodley beige
$primary-highlight-color-light: #f2ece5 //color of the raster